# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.DebugTest.iml
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Admah\Documents\TestProject\TestProject\.idea\.idea.DebugTest\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
